.forgot{
    padding-top: 70px;
    position: relative;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.msg{
    background-color: var(--background-color);
    color: var(--primary-text-color);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.msg i{
    font-size: 30px;
}
.msg p{
    font-size: 15px;
    font-weight: 500;
}
.success{
    color: green;
}
.error{
    color: red;
}
.uploader{
    color: #ffffff;
    position: absolute;
    bottom: 50px;
    right: 80px;
    opacity: .8;
}
.forgot_container{
    max-width: 400px;
    width: 100%;
    padding: 35px;
    border-radius: 10px;
    background-color: #f2fbea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.forgot_container .input_box{
    margin-top: 18px;
}
.input_box .mail_icon{
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    font-size: 24px;
    color: var(--primary-text-color);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.forgot_container h2{
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color);
}

